* {
   padding: 0;
   margin: 0;

}
header , footer , section{
    background-color:rgb(53, 58, 56);
    border: 1vw #f2f2f2 soild;
}

header {
    a {
        color:rgba(185, 249, 143, 0.983);
        text-decoration: none;
        font-size: 20px;
        :hover {
            text-decoration: underline;
            font-size: 21px;
        }
    }
    h1{
        color: aliceblue;
        position: relative;
        left: 120px;
        top:0px;
        line-height: 80px;
        
    }
    li{
        display: inline;
        margin-right: 4vw;
    }
    ul {
        position: absolute;
    right: 5vw;
    top: 15px;
    line-height: 50px;
    }
}
main{
    .News {
        background-color: #303c32;
        color: rgb(47, 53, 53);
        height: 85vh;
        background-image: url("images/XY1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2 {
            font-size: 60px;
        }
        ul {
            color: rgb(71, 85, 85);
            font-size: 24px;
            margin: 25px 0;
        }
        a {
            color:rgb(233, 90, 90);  
        }
        .G {
            color: red;
            font-size: 30px;
            text-decoration: none;
            border: 1px solid white;
            padding: 5px 7px;
            border-radius: 5px;
        }
    }
    .Grade{
        background-color: #544141;
        background-image: url("images/ME2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: -15vh;
        height: 75vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2 {
            font-size: 80px;
            color: rgb(244, 187, 0);
        }
        ul {
            color: rgb(246, 130, 7);
            font-size: 35px;
            margin:25px 0;
        }
        p {
            color: rgb(255, 221, 0);
            font-size: 50px;
            margin: 20px 0;
        }
    }
    .Me {
        background-color: azure;
        background-image: url("images/ME3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 85vh;
        h2 {
            color: #404040;
            font-size: 65px;
        }
        p {
            color: chocolate;
            font-size: 25px;
            margin: 20px 0;
        }
    }
    .YZJ {
        background-color: #f2f2f2;
        background-image: url("images/YZJ2.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 75vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2 {
            color:chocolate;
            font-size: 75px;
        }
        p {
            color: #e9d45c;
            font-size: 30px;
            margin: 20px 0;
        }
        a {
            color: yellow;
            font-size: 35px;
            margin: 20px 0;
        }
    }
    .XY {
        background-color: #f2f2f2;
        background-image: url("images/XY1.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 75vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2 {
            color:chocolate;
            font-size: 75px;
        }
        p {
            color: #e9d45c;
            font-size: 30px;
            margin: 20px 0;
        }
    }
    .ZKY {
        background-color: #f2f2f2;
        background-image: url("images/ZKY1.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 75vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2 {
            color:chocolate;
            font-size: 75px;
        }
        p {
            color: #000000;
            font-size: 30px;
            margin: 20px 0;
        }
    }
    .Inf {
        h2 {
            color: #323030;
            font-size: 75px;
        }
        p {
            color: #000000;
            font-size: 40px;
        }
        background-image: url("images/YZJ2.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height:75vh;
    }
    .Game {
        h2 {
            color: #323030;
            font-size: 75px;
        }
        p {
            color: #000000;
            font-size: 40px;
        }
        background-image: url("images/YZJ2.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height:75vh;
    }
    .Game {
        h2 {
            color: #323030;
            font-size: 75px;
        }
        p {
            color: #f8f8f8;
            font-size: 40px;
        }
        background-image: url("images/laugh.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height:75vh;
    }
    .Che {
        h2 {
            color: #323030;
            font-size: 75px;
        }
        p {
            color: #000000;
            font-size: 40px;
        }
        background-image: url("images/Wash\ head.jpg");
        background-repeat: no-repeat;
        background-position:center;
        background-size: cover;
        height:75vh;
    }
    .qzqz {
        background-color: rgb(64, 76, 80);
        height: 180vh;
        a {
            color: #afafaf;
            font-size: 50px;
        }
        p {
            color: rgb(255, 255, 255);
            font-size: 45px;
        }
    }
    background-color:rgb(86, 89, 87);
    h2{
        color: rgb(174, 174, 245);
        font-size: 40px; 
    }
}
footer {
    display: flex;
    flex-direction: column;
    p {
        left: 50vw;
        right:50vw;
        color: gray;
        font-size: 16px;
        margin: 15px; 
    }
}
